.auth-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #1E4758;
  width: 100%;
  box-shadow: 0 0 10px rgba(0,0,0,.6);
}

.auth-portal-logo {
  width: 8rem;
  height: 2.5rem;
  padding: 10px;
}

.auth-header div {
  padding: 0 16px
}

.fa-user-circle {
  padding: 3px;
  font-size: 1.2rem;
}

.game-section {
  margin: 45px auto 0 auto;
  width: 85%;
  height: 80vh;
  display: flex;
}

.content {
  width: 60%;
  overflow-y: auto;
  border: 1px solid #1E4758;
  box-shadow: 0 1px 2px 0 rgba(60,64,67,0.15), 0 2px 6px 2px rgba(60,64,67,0.15);
  border-radius: 15px;
  margin-right: 60px;
}

.content-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  border-bottom: 1px solid #1E4758;
}

.content-body {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  overflow-y: auto;
}

.content-body button {
  margin-top: 50px;
  cursor: pointer;
  padding: 15px;
  border-radius: 5px;
  background: #1E4758;
  font-size: 1rem;
  color: #fff;
}

.content-body button:hover {
  background: #ffffff;
  color: #000;
}

.chat-container {
  width: 40%;
  border: 1px solid #1E4758;
  border-left: none;
  border-radius: 15px;
  box-shadow: 0 1px 2px 0 rgba(60,64,67,0.15), 0 2px 6px 2px rgba(60,64,67,0.15);
}

.chat-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}

/** Modals **/

.section-settings-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.section-settings-header button {
  font-size: 12px;
  padding: 5px 12px;
  border-radius: 5px;
  margin: 0 8px;
  cursor: pointer;
}

.section-settings-header button:hover {
  color: #000;
  background: #f6f6f6;
}

.section-settings-header-button-action {
  background: #1E4758;
  color: #FFFFFF;
}
