<div [class]="{'app-not-auth': !isAuth, 'app-auth': isAuth}">
  <header [class]="{'not-auth-header': !isAuth, 'auth-header': isAuth}">
   <img class="not-auth-portal-logo" src="assets/logo_1E4758.png" alt="Blind test logo" *ngIf="!isAuth">
  </header>

  <main class="main">
    <div *ngIf="!isAuth">
      <app-portal></app-portal>
    </div>
    <app-game-section *ngIf="isAuth"></app-game-section>
  </main>

  <footer class="footer" *ngIf="!isAuth">
    <p>© 2021 BlindTest</p>
  </footer>
</div>
