<div class="portal">
  <input type="checkbox" id="chk" aria-hidden="true">

  <div class="create-game-section">
    <form [formGroup]="createGameSectionForm" (ngSubmit)="onSubmitCreateGameForm()">
      <label for="chk" aria-hidden="true">Create a game section</label>
      <div>
        <input type="text" formControlName="gameSectionName" placeholder="Section name" required>
        <input type="text" formControlName="username" placeholder="Username" required>
        <p style="margin-top: 32px"></p>
        <button type="submit">Create</button>
      </div>
    </form>
  </div>

  <div class="join-game-section">
    <form [formGroup]="joinSectionForm" (ngSubmit)="onSubmitJoinGameForm()">
      <label for="chk" aria-hidden="true">Join game section</label>
      <div>
        <input type="text" formControlName="username" placeholder="Username" required>
        <input type="text" formControlName="secretCode" placeholder="Secret code" required>
        <p style="margin-top: 25px"></p>
        <button type="submit">Join</button>
      </div>
    </form>
  </div>
</div>

<div *ngIf="showAlert">
  <div *ngIf="alert.type=='SUCCESS'" class="alert success-msg">
    <span><i class="fas fa-check-circle"></i>&nbsp;&nbsp;{{ alert.message }}</span>
    <i class="alert-close-button far fa-times-circle" (click)="showAlert = false"></i>
  </div>
  <div *ngIf="alert && alert.type=='ERROR'" class="alert error-msg">
    <span><i class="fas fa-exclamation-triangle"></i>&nbsp;&nbsp;{{ errorMessage }}</span>
    <i class="alert-close-button far fa-times-circle" (click)="showAlert = false"></i>
  </div>
</div>
