body {
  margin: 0;
  padding: 0;
  font-family: 'Jost', sans-serif;
}

.app-auth {
  width: 100%;
}

.app-not-auth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 100vw;
  min-height: 100vh;
}

.cursor-pointer {
  cursor: pointer;
}

/* Dropdown */

.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-button {
  display: inline-block;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 10px 30px 10px 20px;
  background-color: #ffffff;
  cursor: pointer;
  white-space: nowrap;
}

.dropdown-button:hover {
  background-color: #eeeeee;
}

.dropdown-input {
  display: none;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0;
  margin: 5px 0 0 0;
  box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
  background-color: #ffffff;
  list-style-type: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dropdown-input + .dropdown-menu {
  display: none;
}

.dropdown-input:checked + .dropdown-menu {
  display: block;
}

.dropdown-menu li {
  padding: 10px 20px;
  cursor: pointer;
  white-space: nowrap;
}

.dropdown-menu li:hover {
  background-color: #f6f6f6;
}

.dropdown-menu li a {
  display: block;
  margin: -10px -20px;
  padding: 10px 20px;
}

.dropdown-menu li.divider {
  padding: 0;
  border-bottom: 1px solid #cccccc;
}

/******************************\
              Modals
/******************************/

.modal-background {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .4);
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadeIn .1ms both;
}

.modal-wrapper {
  vertical-align: center;
  background: #FFFFFF;
  border-radius: 15px;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.2);
  animation: slideFromTop .3s both;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 15px;
  border-bottom: 1px solid #dee2e6;
}

.modal-title {
  font-size: 15px;
  font-weight: bold;
}

.modal-close-button {
  cursor: pointer;
  font-size: 1rem;
}

.modal-body {
  padding: 42px;
  height: auto;
  max-height: 70vh;
  overflow-y: auto;
}

@media (min-width: 760px) {
  .modal-wrapper {
    width: 650px;
  }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slideFromTop {
  from { transform: translateY(-50px); }
  to { transform: translateY(0px); }
}

/* Form messages */

.info-msg,
.success-msg,
.warning-msg,
.error-msg {
  margin: 15px 0;
  padding: 10px;
  border-radius: 5px;
  width: 360px;
  text-align: center;

}

.info-msg {
  color: #059;
  background-color: #BEF;
}

.success-msg {
  color: #270;
  background-color: #DFF2BF;
}

.warning-msg {
  color: #9F6000;
  background-color: #FEEFB3;
}

.error-msg {
  color: #D8000C;
  background-color: #FFBABA;
}

/** Alerts **/

.alert {
  position: fixed;
  right: 0;
  margin-right: 25px;
  bottom: 0;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 25px;
}

.alert-close-button {
  padding-left: 30px;
  cursor: pointer;
}

