<div *ngFor="let game of games">
  <p class="creator-button" *ngIf="authPlayer?.role == 'CREATOR'" (click)="chooseGame(game)">{{ game.category }}</p>
  <p class="guest-button" *ngIf="authPlayer?.role == 'GUEST'">{{ game.category }}</p>
</div>

